<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>My Apps</h2>
            <ul>
                <li><a href="{{ url_for('index') }}">Comparative Chart Page</a></li>
                <li><a href="{{ url_for('tables') }}">Table Results Page</a></li>
                <li><a href="{{ url_for('forecast') }}">Forecasting Page</a></li>
            </ul>
        </div>

        <div class="main-content">
            <div class="header-bar">
                <h1>{{ title }}</h1>
                <div class="user-info">
                    <p><strong>Istifa Shania</strong></span></p>
                </div>
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
